body {
    margin: 0;
}

header {
    width: 100%;
}
.top-bar{
    background-color: #2aa2d4;
    height: 50px;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.first-header{
    float:left;
}
.right-menu{
    float:right;
}
.right-menu ul li {
    display: inline;
    float: left;
    border-right: 1px solid white;
}

.right-menu ul li:last-child {
    border-right: none;
}

.right-menu ul li a {
    text-decoration: none;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}
.plus {
    margin-left:240px;
    background-color: #2aa2d4;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: right;
}
.plus:hover {
    cursor: pointer;
}
.plus:hover {
    background-color: #2aa2d4;
}
.social-icons {
    padding: 10px;
    margin-right: 55px;
    float:left;

}

.social-icons img {
    padding: 10px;
    background-color: #2aa2d4;
    border-radius: 10px:;
    margin-right: 10px;
}

.social-icons img:hover {
    cursor: pointer;
}

.social-icons .linked-in-logo:hover {
    background-color: #0e76a8;
}

.social-icons .twitter-logo:hover {
    background-color: #00acee;
}

.social-icons .pinterest-logo:hover {
    background-color: #c8232c;
}

.social-icons .google-plus-logo:hover {
    background-color: #db4a39;
}

.social-icons .rss-logo:hover {
    background-color: #ee802f;
}
.logo {
    float: left;
    margin-top: 70px;
    margin-right: 120px;
    cursor: pointer;
}

.search{
    float:right;
    margin-top:50px;
}
.input-search {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border: 1px solid #dddddd;
    border-radius:4px;
    background-color:#2a2a2a;
    color:white;
}

.search button {
    padding: 10px;
    border: 1px solid #2aa2d4 ;
    color: white;
    background-color:#2aa2d4 ;
    font-weight: 600;
    border-radius: 4px;
}
.navigation {
    width: 100%;
    float: left;
    background-color: #2a2a2a;
    margin-top: 35px;
    border-bottom: 2px solid black;
}
.menu {
    
    margin-top: 5px;
   
}

.menu ul {
    padding: 0;
    list-style: none;

}

.menu ul li  {
    display: inline;
    float: left;
    border-right: 1px solid #d8c6c6;
    margin-right:8px;
}
.menu ul li:first-child {
    border-left: 1px solid #d8c6c6;

}

.menu ul li:last-child {
    border-right: none;
}

.menu ul li a {
    font-family: Georgia Regular;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 12px;
    margin-right: 5px;
    color: #999999;
    font-weight: bold;

}
.menu ul li a:hover {
    color: #ffffff;
}
/* Media Queries */
@media(max-width: 768px){
  first-header ,
  header nav,
  header nav li,
  top-bar first-header right-menu,
  form-group,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

   form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}

.slider{
    margin:0 auto;
}

.slider{
    width:99%;
    height:440px;
    border:2px solid black;
    margin-top:250px;
    position: relative;
}
.slider img{
    width: 100%;
    height: 100%;
    position: absolute;
    
}
.slider .btn{
   position: absolute;
   width:50px;
   height:50px;
   border: none;
   border-radius:25px;
   top:200px;
   background: white;
   color: blue;
   font-size: 20px;
}
.slider>#btn1:hover{
    box-shadow: 10px 0px 20px 0px black;
}
.slider>#btn2:hover{
    box-shadow: -10px 0px 20px 0px black;
}

.slider>#btn2{
   position: relative;
   float:right;
}
.first-part{
   width:100%;
}
.content5{
    width:49%;
}
.content5{
    float:left;
}
.content6{
    float:right;
}
.content6{
    width:49%;
}
section {
    width: 100%;
    float: left;
    background-color: #eeece7;
}

footer{ 
    width: 100%;
    float: left;
    background-color: #1c1c1c;
    margin-top: 30px;
}
.top img{
    margin-left:420px;
    margin-top:10px;
}
.top img:hover {
    cursor: pointer;
}
.top p{
    margin-left:445px;
    color:white;
    
}

.section{
    width:100%;
    float:left;
    border-bottom: 2px solid white;

}
.company-details{
    width: 30%;
    float: left;
    margin-left:30px;
   
}
.company-details h3{
    font-size: 12px;
    color:white;
}
.company-details p{
    color:#666666;
    font-family: Georgia Regular;
}
.latest-post{
    width: 30%;
    float: left;
   
}
.latest-post h3{
    font-size: 12px;
    color:white;
}
.latest-post p{
    color:#666666;
    font-family: Georgia Regular;
}
.latest-post img{
    float:left;
}
.links{
    width:30%;
    float:left;
    margin-left:30px;
}
.links h3{
    font-size: 12px;
    color:white;
}

.quick-links a{
    font-size: 12px;
    color:#2aa2d4;
}
.latest-post p{
    color:#666666;
    font-family: Georgia Regular;
}
.copyright{
    float:left;
     margin-left:30px;

}
.copyright p{
    color:#666666;
}
.template{
    float:right;
     margin-right:30px;
}
.template  p{
    color:#666666;
}
